{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'core.error.seo.title' | trans }}{% endblock title %}
{% block description %}{{ 'core.error.seo.description' | trans }}{% endblock description %}

<h2 role="contentinfo">{{ 'core.error.seo.description' | trans }}</h2>

<p>
    <a href="{{ path('homepage') }}" class="btn reply">
        <span></span>
        
        {{ 'core.error.backtohome' | trans }}
    </a>
</p>