{% spaceless %}
    <ul class="categories {{ mainRoute }}">
        <li class="item all">
            <a href="{{ path(mainRoute) }}">
                {{ 'categories.all' | trans }}
            </a>
        </li>
        
        {% for cat in categories %}
            {% if (cat.content | length) %}
                <li class="item">
                    <a href="{{ path(catRoute, {'slug': cat.slug}) }}">
                        {{ cat }}
                    </a>
                    ({{ cat.content | length }})
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endspaceless %}