{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'watch') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'watch') }}{% endblock description %}

{% block rightSidebar %}
    {% include 'SlyContentBundle:Watch:rightSidebar.html.twig' %}
{% endblock rightSidebar %}

{% block content %}
    {% if app.request.query.get('page') <= 1 %}
        <h2 role="contentinfo">{{ 'list.title' | trans({}, 'watch') }}</h2>
    {% endif %}

        {% for k, item in contentPaginator %}
            {% if date is defined %}
                {% if date != item.publishedAt | date('Ymd') %}
                    </aside>
                    
                    <aside class="watch">
                        <header>
                            <h3>
                                <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                                    {{ item.publishedAt | date('core.date.small' | trans) }}
                                </time>
                            </h3>
                        </header>
                {% endif %}
            {% else %}          
                <aside class="watch">
                    <header>
                        <h3>
                            <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                                {{ item.publishedAt | date('core.date.small' | trans) }}
                            </time>
                        </h3>
                    </header>
            {% endif %}
            
            {% set date = item.publishedAt | date('Ymd') %}
            
            {% include 'SlyContentBundle:Watch:mediumItem.html.twig' with {'item': item } %}
            
            {% if k+1 == contentPaginator.currentPageResults | length %}
                </aside>
            {% endif %}
        {% else %}
            <p class="empty">{{ 'list.nocontent' | trans({}, 'watch') }}</p>
        {% endfor %}
    
    {% if contentPaginator | length %}
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}