{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'watch') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'watch') }}{% endblock description %}

{% set topMain = true %}

{% block topMainTitle %}
    <a href="{{ path('watch') }}" title="{{ 'core.menu.watch' | trans }}">
        {{ 'title' | trans({}, 'watch') }}
    </a>
{% endblock topMainTitle %}

{% block topMainMenu %}
    {% render 'SlyContentBundle:Component:categories' with {'type': 'watch'} %}
{% endblock topMainMenu %}

{% block content %}
    <section class="watch list">
        {% for item in contentPaginator %}
            {% include 'SlyContentBundle:Watch:mediumItem.html.twig' with {'item': item } %}
        {% else %}
            <p class="empty">{{ 'list.nocontent' | trans({}, 'watch') }}</p>
        {% endfor %}
    </section>
    
    {% if contentPaginator | length %}
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}