{% spaceless %}
    <li>
        <ul class="category small">
            {% for k, cat in item.categories %}
                <li><a href="#{{ cat.slug }}" class="caticon small {{ cat.slug }}" title="{{ cat }}"></a></li>
            {% endfor %}
        </ul>
        
        <a href="{{ item.link }}" onclick="var w=window.open(this.href); w.focus(); return false;" title="{{ item }}">{{ item }}</a>
        
        {% if item.tags | length %}
            <ul class="tags">
                {% for tag in item.tagsCollection %}
                    <li><a href="#" class="tag">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endspaceless %}