{% spaceless %}
    <article>
        {% if item.categories | length %}     
            <span class="categories">
                {% for k, cat in item.categories %}
                    <a href="{{ path('watch_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                {% endfor %}

                —
            </span>
        {% endif %}
        
        <a href="{{ item.link }}" onclick="var w=window.open(this.href); w.focus(); return false;" title="{{ item }}">{{ item }}</a>
        
        {% if item.tags | length %}
            <footer>
                <ul class="tags">
                    {% for tag in item.tagsCollection %}
                        <li><a href="#" class="tag">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </footer>
        {% endif %}
    </article>
{% endspaceless %}