{% spaceless %}
    <aside class="tpl2">
        <abbr title="{{ item.publishedAt | date('Y-m-dTH:i:m') }}" class="dtstart">{{ item.publishedAt | date('core.date.mini' | trans) }}</abbr>
        
        <a href="{{ item.link }}" onclick="var w=window.open(this.href); w.focus(); return false;">
            {{ item }}
        </a>
        
        {% if item.tags | length %}
            <span class="tags">
                {% for tag in item.tagsCollection %}
                    <a href="#" class="tag">{{ tag }}</a>
                {% endfor %}
            </span>
        {% endif %}
    </aside>
{% endspaceless %}