{% from "SlyContentBundle::macro.socialShare.html.twig" import shareRButtons %}

{% spaceless %}
    <article>
        <a href="{{ item.minilink }}" onclick="var w=window.open(this.href); w.focus(); return false;" title="{{ item }}" class="btn">
            {{ 'list.show' | trans({}, 'watch') }}
        </a>
        
        {% if item.categories | length %}     
            <span class="categories">
                {% for k, cat in item.categories %}
                    <a href="{{ path('watch_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                {% endfor %}

                —
            </span>
        {% endif %}
        
        <a href="{{ item.minilink }}" onclick="var w=window.open(this.href); w.focus(); return false;" title="{{ item }}">{{ item }}</a>
        
        {% if item.tags | length %}
            <footer>
                {{ shareRButtons(item.minilink, item.title) }}
                
                <ul class="tags">
                    {% for tag in item.tagsCollection %}
                        <li><a href="#" class="tag">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </footer>
        {% endif %}
    </article>
{% endspaceless %}