{% spaceless %}
    <ul class="categories {{ mainRoute }}">
        <li class="item all {% if activeCategories is empty and noActive is null %}active{% endif %}">
            <a href="{{ path(mainRoute) }}">
                {{ 'categories.all' | trans }}
            </a>
        </li>
        
        {% for cat in categories %}
            {% if (cat.content | length) %}
                {% if activeCategories %}
                    <li class="item {{ checkActiveContentCategory(cat, activeCategories) }}">
                {% else %}
                    <li class="item">
                {% endif %}
                    <a href="{{ path(catRoute, {'slug': cat.slug}) }}" title="{{ cat }}">
                        {{ cat }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endspaceless %}