{% spaceless %}
<div class="box_skitter_wrap">
    <div class="box_skitter">
        <ul style="display: none;">
            {% for item in items %}
                <li>
                    <a href="{{ path(itemRoute, {'slug': item.slug }) }}" title="{{ item }}">
                        <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('homeslider') }}" alt-"{{ item }} />
                    </a>
                    <div class="label_text">
                        <p>
                            <a href="{{ path(itemRoute, {'slug': item.slug }) }}" title="{{ item }}">
                                {{ item }}
                            </a>
                        </p>
                    </div>
                </li> 
            {% endfor %}
        </ul>
    </div>
</div>
{% endspaceless %}