{% spaceless %}
    {% for item in items %}
        <article class="gshe">
            {%if item.picture and withPicture %}
                <a href="{{ path(itemRoute, {'slug': item.slug }) }}" title="{{ item }}">
                    <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('lsThumbnail') }}" alt="{{ item }}" />
                </a>
            {% endif %}
            
            <a href="{{ path(itemRoute, {'slug': item.slug}) }}" title="{{ item }}">{{ item }}</a>
        </article>
    {% else %}
        <p>{{ 'items.empty' | trans }}</p>
    {% endfor %}
{% endspaceless %}