{% extends "SlyCoreBundle:Layout:layoutAdmin.html.twig" %}

{% block content %}
    <h2>{{ 'watch.new.title' | trans({}, 'admin') }}</h2>
    
    <form action="{{ path('watch_admin') }}" method="post" {{ form_enctype(contentForm) }}>
        {{ form_errors(contentForm) }}
        
        <div class="form">
            {{ form_row(contentForm.title, {'label': 'fields.title' | trans({}, 'admin')}) }}
            {{ form_row(contentForm.link, {'label': 'fields.link' | trans({}, 'admin')}) }}
            {{ form_row(contentForm.tags, {'label': 'fields.tags' | trans({}, 'admin')}) }}
            {{ form_row(contentForm.categories, {'label': 'fields.categories' | trans({}, 'admin')}) }}
            {{ form_row(contentForm.publishedAt, {'label': 'fields.publishedat' | trans({}, 'admin')}) }}
                
            <div class="submit">
              <input type="submit" value="{{ 'watch.new.fields.submit' | trans({}, 'admin') }}" />  
            </div>
        </div>
        
        {{ form_rest(contentForm) }}
    </form>
{% endblock content %}