{% spaceless %}
    <aside>
        <h4>{{ 'skills.part.webdevelopment' | trans({}, 'author') }}</h4>

        <ul>
            <li>PHP5 {{ 'skills.list.php' | trans({}, 'author') }}</li>
            <li>
                {{ 'skills.list.frameworks' | trans({}, 'author') }}
                <a href="http://www.symfony-project.org" onclick="var w=window.open(this.href); w.focus(); return false;">symfony 1.4</a> /
                <a href="http://www.symfony.com" onclick="var w=window.open(this.href); w.focus(); return false;">Symfony2</a> /
                <a href="http://framework.zend.com" onclick="var w=window.open(this.href); w.focus(); return false;">Zend</a>
                {{ 'skills.list.notions' | trans({}, 'author') }} /
                <a href="http://cakephp.org" onclick="var w=window.open(this.href); w.focus(); return false;">CakePHP</a>
                {{ 'skills.list.notions' | trans({}, 'author') }}
            </li>
            <li>SQL / MySQL / {{ 'skills.list.doctrine' | trans({}, 'author') }}</li>
            <li>xHTML / HTML5</li>
            <li>
                CSS / CSS3 /
                {{ 'skills.list.frameworks' | trans({}, 'author') }}
                <a href="http://960.gs" onclick="var w=window.open(this.href); w.focus(); return false;">960gs</a>,
                <a href="http://blueprintcss.org" onclick="var w=window.open(this.href); w.focus(); return false;">BluePrint</a>,
                <a href="http://twitter.github.com/bootstrap" onclick="var w=window.open(this.href); w.focus(); return false;">Bootstrap</a>
            </li>
            <li>JavaScript / Ajax / jQuery</li>
            <li>XML / JSON</li>
        </ul>
    </aside>

    <aside>
        <h4>{{ 'skills.part.cms' | trans({}, 'author') }}</h4>

        <ul>
            <li><a href="http://www.wordpress.org" onclick="var w=window.open(this.href); w.focus(); return false;">WordPress 3</a></li>
            <li><a href="http://www.joomla.org" onclick="var w=window.open(this.href); w.focus(); return false;">Joomla 1.5+</a></li>
        </ul>
    </aside>

    <aside>
        <h4>{{ 'skills.part.versioning' | trans({}, 'author') }}</h4>

        <ul>
            <li>Git + <a href="{{ networks.github }}" onclick="var w=window.open(this.href); w.focus(); return false;">{{ 'skills.list.github' | trans({}, 'author') }}</a></li>
            <li>SVN</li>
        </ul>
    </aside>

    <aside>
        <h4>{{ 'skills.part.indexation' | trans({}, 'author') }}</h4>

        <ul>
            <li>SEO / SEM / SEA / SMO</li>
        </ul>
    </aside>

    <aside>
        <h4>{{ 'skills.part.environments' | trans({}, 'author') }}</h4>

        <ul>
            <li>Ubuntu</li>
            <li>LAMP / NginX</li>
            <li>Mac OSX / MAMP</li>
            <li>Windows / WAMP</li>
        </ul>
    </aside>
{% endspaceless %}