{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ category }} | {{ 'seo.title' | trans({}, 'tutorial') }}{% endblock title %}
{% block description %}{{ 'category.seo.description' | trans({'%category%': category}, 'tutorial') }}{% endblock description %}

{% block content %}
    <h3 class="title">{{ category }}</h3>
    
    <div class="hsep_1 t1"></div>

    <section role="main" class="tpl1">
        {% for k, item in contentPaginator %}
            {% include 'SlyContentBundle:Tutorial:mediumItem.html.twig' with {'k': k, 'item': item } %}
        {% else %}
            <p class="empty">{{ 'list.nocontent' | trans({}, 'tutorial') }}</p>
        {% endfor %}
    </section>
    
    {% if contentPaginator | length %}
        <div class="hsep_1 t2"></div>

        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
{% endblock javascripts %}