{% from "SlyContentBundle::macro.socialShare.html.twig" import shareBigRButtons %}

<article class="show">
    <header>
        <section role="contentinfo">
            <h2>
                {% if item.categories | length %}                
                    {% for k, cat in item.categories %}
                        <a href="{{ path('tutorial_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                    {% endfor %}

                    —
                {% endif %}
                
                <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item }}</a>
            </h2>
        </section>
        
        <ul>
            <li>
                <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                    {{ item.publishedAt | date('core.date.normal' | trans) }}
                </time>
            </li>
            <li>
                <img src="http://0.gravatar.com/avatar/{{ project.author.email | md5 }}?s=32" alt="" />
                {{ 'list.item.author' | trans({'%authorName%': project.author.name}, 'tutorial') }}
                <a href="{{ path('author') }}" title="{{ project.author.name }}">{{ project.author.name }}</a>
            </li>
            <li>
                <a href="#" class="btn go-share">{{ 'list.item.share' | trans({}, 'blog') }}</a>
            </li>
        </ul>
    </header>
        
    <section class="body">
        <div class="intro">
            <iframe frameborder="0" width="{{ dmplayer.width }}" height="{{ dmplayer.height }}" src="{{ item.dailyMotionEmbedUrl }}?width={{ dmplayer.width }}"></iframe>
            
            {% if item.tags | length %}
                <ul>
                    {% for tag in item.tagsCollection %}
                        <li><a href="#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="content-show">
            {{ item.content | contentFilters | raw }}
        </div>
    </section>
</article>