{% from "SlyContentBundle::macro.socialShare.html.twig" import shareBigRButtons %}

<article class="show">
    <header>
        <section role="contentinfo">
            <h2>
                {% if item.categories | length %}                
                    {% for k, cat in item.categories %}
                        <a href="{{ path('tutorial_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                    {% endfor %}

                    —
                {% endif %}
                
                <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item }}</a>
            </h2>
        </section>
    </header>
        
    <section class="body">
        <a href="#" class="btn go-share">{{ 'list.item.share' | trans({}, 'tutorial') }}</a>
        
        <iframe frameborder="0" width="{{ dmplayer.width }}" height="{{ dmplayer.height }}" src="{{ item.dailyMotionEmbedUrl }}?width={{ dmplayer.width }}"></iframe>

        <!-- {% if item.tags | length %}
            <ul>
                {% for tag in item.tagsCollection %}
                    <li><a href="#{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}-->
    </section>
    
    {% include 'SlyCoreBundle:Block/Com/Content:300x250m.html.twig' %}

    {% if item.content %}
        <section class="body">
            <div class="content-show">
                {{ item.content | contentFilters | raw }}
            </div>
            
            <footer>
                <aside class="left author">
                    {% include 'SlyContentBundle:Block:authorPresentation.html.twig' with {'type': 'tutorial'} %}
                </aside>

                <aside class="right">
                    {% include 'SlyContentBundle:Block/Content:socialNetworks.html.twig' with {'type': 'tutorial'} %}
                </aside>
            </footer>
        </section>
    {% endif %}
</article>