{% from "SlyContentBundle::macro.socialShare.html.twig" import shareBigRButtons %}

<article class="show">
    <header>
        <section role="contentinfo">
            <h2>
                {% if item.categories | length %}                
                    {% for k, cat in item.categories %}
                        <a href="{{ path('tutorial_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                    {% endfor %}

                    —
                {% endif %}
                
                <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item }}</a>
            </h2>
        </section>
        
        <ul>
            <li>
                <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                    {{ item.publishedAt | date('core.date.normal' | trans) }}
                </time>
            </li>
            <li>
                <a href="{{ path('author') }}" title="{{ project.author.name }}">
                    <img src="http://0.gravatar.com/avatar/{{ project.author.email | md5 }}?s=32" alt="" />
                </a>
                {{ 'list.item.author' | trans({'%authorName%': project.author.name}, 'tutorial') }}
                <a href="{{ path('author') }}" title="{{ project.author.name }}">{{ project.author.name }}</a>
            </li>
            <li class="share">
                {{ shareBigRButtons(path('tutorial_show', {'slug': item.slug}), item) }}
            </li>
        </ul>
    </header>
        
    <section class="body">
        <div class="intro">
            <iframe frameborder="0" width="{{ dmplayer.width }}" height="{{ dmplayer.height }}" src="{{ item.dailyMotionEmbedUrl }}?width={{ dmplayer.width }}"></iframe>
            
            {% if item.tags | length %}
                <ul>
                    {% for tag in item.tagsCollection %}
                        <li><a href="#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="content-show">
            {{ item.content | contentFilters | raw }}
        </div>
    </section>
</article>

<!--<article>    
    <h3 class="title"><a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item.title }}</a></h3>
    
    <div class="hsep_1 t3"></div>
    
    <ul class="infos">
        <li class="published_at">
            <a href="#publishedat">
                <abbr title="{{ item.publishedAt | date('core.date.time.big' | trans) }}" class="dtstart">
                    {{ 'infos.publishedat' | trans({'%date%': item.publishedAt | date('core.date.time.normal' | trans)}) }}
                </abbr>
            </a>
        </li>
        <li class="comments">
            <a href="#disqus_thread" data-disqus-identifier="{{ item.disqusId }}" class="goto">&nbsp;</a>
        </li>
        <li class="share">
            <a href="#sidebar-sharebuttons" class="light_sidebarsharebuttons goto">
                {{ 'infos.share' | trans }}
            </a>
        </li>
    </ul>
    
    <div class="hsep_1 t3"></div>
    
    <p class="description">
        {% if item.excerpt %}
            {{ item.excerpt | striptags }}
        {% else %}
            {{ item.content | striptags | truncate(250) }}
        {% endif %}
    </p>
    
    <div class="media">
        <ul class="category">
            {% for k, cat in item.categories %}
                <li><a href="{{ path('tutorial_category', {'slug': cat.slug}) }}" class="caticon medium {{ cat.slug }}" title="{{ cat }}"></a></li>
            {% endfor %}
        </ul>
        
        <iframe frameborder="0" width="{{ dmplayer.width }}" height="{{ dmplayer.height }}" src="{{ item.dailyMotionEmbedUrl }}?width={{ dmplayer.width }}"></iframe>
    </div>
    
    <p class="link">
        <a href="{{ item.link }}" onclick="var w=window.open(this.href); w.focus(); return false;">{{ item.link }}</a>
    </p>
    
    {% if item.tags | length %}
        <ul class="tags">
            {% for tag in item.tagsCollection %}
                <li><a href="#{{ tag }}" class="container">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="hsep_1 t1"></div>
    
    <div class="item_content">      
        {{ item.content | raw }}
    </div>
</article>-->