{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'tutorial') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'tutorial') }}{% endblock description %}

{% block content %}
    {% if app.request.query.get('page') <= 1 %}
        <h2 role="contentinfo">{{ 'list.title' | trans({}, 'tutorial') }}</h2>
    {% endif %}
    
    <nav>{% render 'SlyContentBundle:Component:categories' with {'type': 'tutorial'} %}</nav>
    
    {% include 'SlyCoreBundle:Block/Com/Content:728x90.html.twig' %}

    {% for k, item in contentPaginator %}
        {% include 'SlyContentBundle:Tutorial:mediumItem.html.twig' with {'k': k, 'item': item } %}
    {% else %}
        <p class="empty">{{ 'list.nocontent' | trans({}, 'tutorial') }}</p>
    {% endfor %}
    
    <div class="clear"></div>
    
    {% if contentPaginator | length %}
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
{% endblock javascripts %}