{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'tutorial') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'tutorial') }}{% endblock description %}

{% set topMain = true %}

{% block topMainTitle %}
    <a href="{{ path('tutorial') }}" title="{{ 'core.menu.tutorial' | trans }}">
        {{ 'title' | trans({}, 'tutorial') }}
    </a>
{% endblock topMainTitle %}

{% block topMainMenu %}
    {% render 'SlyContentBundle:Component:categories' with {'type': 'tutorial'} %}
{% endblock topMainMenu %}

{% block content %}
    <section class="tutorial list">
        {% for item in contentPaginator %}
            {% include 'SlyContentBundle:Tutorial:mediumItem.html.twig' with {'item': item } %}
        {% else %}
            <p class="empty">{{ 'list.nocontent' | trans({}, 'tutorial') }}</p>
        {% endfor %}
    </section>
    
    {% if contentPaginator | length %}
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
{% endblock javascripts %}