{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'tutorial') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'tutorial') }}{% endblock description %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="{{ asset('bundles/slycontent/css/tutorial.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block rsidebar %}
    {% include 'SlyContentBundle:Tutorial:rightSidebar.html.twig' %}
{% endblock rsidebar %}

{% block content %}
    <h2>{{ 'title' | trans({}, 'tutorial') }}</h2>

    <div class="tutorial_list">
        {% for item in contentPaginator %}
            {% include 'SlyContentBundle:Tutorial:item.html.twig' with {'item': item } %}
        {% else %}
            <p class="empty">{{ 'list.nocontent' | trans({}, 'tutorial') }}</p>
        {% endfor %}
    </div>
    
    {% if contentPaginator | length %}
        {{ pagerfanta(contentPaginator, 'default') }}
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
{% endblock javascripts %}