{% spaceless %}
    <figure class="tpl4">
        {% if item.categories | length %}
            <ul class="categories">
                {% for k, cat in item.categories %}
                    <li>
                        <a href="{{ path('tutorial_category', {'slug': cat.slug}) }}" class="icat {{ cat.slug }} active" title="{{ cat }}"></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if item.link %}
            <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">
                <img src="{{ item.dailyMotionPictureUrl }}" class="tutorial" alt="{{ item }}" />
            </a>
        {% else %}
            {%if item.picture %}
                <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">
                    <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('tutorial') }}" alt="{{ item }}" class="tutorial" />
                </a>
            {% endif %}
        {% endif %}
        
        <h3>
            <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">
                {{ item }}
            </a>
        </h3>

        <p class="description">
            {% if item.excerpt %}
                {{ item.excerpt | striptags }}
            {% else %}
                {{ item.content | striptags | truncate(250) }}
            {% endif %}
        </p>
    </figure>
{% endspaceless %}