{% spaceless %}
    <article class="tutorial">
        {%if item.picture %}
            <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('tutorial') }}" alt="{{ item }}" />
        {% else %}
            <img src="{{ '/uploads/tutorial.jpg' | apply_filter('tutorial') }}" alt="{{ item }}" />
        {% endif %}
        
        <div class="mask">
            <h2><a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item.title }}</a></h2>
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            <a href="#" class="info">Read More</a>
        </div>
    </article>
{% endspaceless %}