{% spaceless %}
    <article class="tutorial">
        {%if item.picture %}
            <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('tutorial') }}" alt="{{ item }}" />
        {% else %}
            <img src="{{ '/uploads/tutorial.jpg' | apply_filter('tutorial') }}" alt="{{ item }}" />
        {% endif %}
        
        <div class="mask">
            <h3><a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item.title }}</a></h3>
            <p>
                <span>
                    {% if item.categories | length %}
                        {% for k, cat in item.categories %}
                            <a href="{{ path('tutorial_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                        {% endfor %}

                        —
                    {% endif %}
                </span>
                
                <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}">
                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                </a>
            </p>
            <a href="{{ path('tutorial_show', {'slug': item.slug }) }}" title="{{ item }}" class="info">
                {{ 'list.show' | trans({}, 'tutorial') }}
            </a>
        </div>
    </article>
{% endspaceless %}