{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ item }} | {{ 'seo.title' | trans({}, 'tutorial') }}{% endblock title %}
{% block description %}{{ item.excerpt | striptags }}{% endblock description %}

{% block rightSidebar %}
    {% include 'SlyContentBundle:Tutorial:rightSidebarItem.html.twig' %}
{% endblock rightSidebar %}

{% block content %}
    {% include 'SlyContentBundle:Tutorial:item.html.twig' with {'item': item } %}
    
    <aside class="comments">
        <h2><a href="#disqus_thread" data-disqus-identifier="{{ item.disqusId }}">&nbsp;</a></h2>
        
        <div id="disqus_thread"></div>
    </aside>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
    {% render 'SlyContentBundle:Component:disqusJS' with {'item': item, 'type': 'tutorial'} %}
{% endblock javascripts %}