{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ category }} | {{ 'seo.title' | trans({}, 'snippet') }}{% endblock title %}
{% block description %}{{ 'seo.category.description' | trans({'%category%': category}, 'snippet') }}{% endblock description %}

{% block content %}
    <h2 role="contentinfo">{{ 'category.title' | trans({'%catName%': category}, 'snippet') }}</h2>
    
    <nav>{% render 'SlyContentBundle:Component:categories' with {'type': 'snippet'} %}</nav>
    
    <div class="clear"></div>

    {% for item in contentPaginator %}
        {% include 'SlyContentBundle:Snippet:mediumItem.html.twig' with {'item': item } %}
    {% else %}
        <p class="empty">{{ 'list.nocontent' | trans({}, 'snippet') }}</p>
    {% endfor %}
    
    <div class="clear"></div>
    
    {% if contentPaginator | length %}
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}