<article class="show">
    <header>
        <section role="contentinfo">
            <h2>
                {% if item.categories | length %}                
                    {% for k, cat in item.categories %}
                        <a href="{{ path('snippet_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                    {% endfor %}

                    —
                {% endif %}
                
                <a href="{{ path('snippet_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item }}</a>
            </h2>
        </section>
        
        <ul>
            <li>
                <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                    {{ item.publishedAt | date('core.date.normal' | trans) }}
                </time>
            </li>
            <li>
                <img src="http://0.gravatar.com/avatar/{{ project.author.email | md5 }}?s=32" alt="" />
                {{ 'list.item.author' | trans({'%authorName%': project.author.name}, 'snippet') }}
                <a href="{{ path('author') }}" title="{{ project.author.name }}">{{ project.author.name }}</a>
            </li>
            <li>
                <a href="#" class="btn go-share">{{ 'list.item.share' | trans({}, 'snippet') }}</a>
            </li>
            <li>
                <a href="{{ githubRawUrl | replace({'raw.': 'www.', 'master/': 'blob/master/'}) }}{{ item.getGithubFile }}" class="btn" onclick="var w=window.open(this.href); w.focus(); return false;">
                    {{ 'list.item.ongithub' | trans({}, 'snippet') }}
                </a>
            </li>
        </ul>
    </header>
        
    <section class="body">
        <div class="intro">
            {% if item.tags | length %}
                <ul>
                    {% for tag in item.tagsCollection %}
                        <li><a href="#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="content-show">
            {% if item.excerpt %}
                {{ item.excerpt }}
            {% endif %}

            {% if item.githubFile %}
                <pre class="brush: {{ item.getGithubFileType }};">{{ '%prefix%%file%' | replace({
                        '%prefix%': githubRawUrl,
                        '%file%': item.githubFile
                    }) | getContentFromUrl
                }}</pre>
            {% endif %}
        </div>
    </section>
</article>