<article class="show">
    <header>
        <section role="contentinfo">
            <h2>
                {% if item.categories | length %}                
                    {% for k, cat in item.categories %}
                        <a href="{{ path('snippet_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                    {% endfor %}

                    —
                {% endif %}
                
                <a href="{{ path('snippet_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item }}</a>
            </h2>
        </section>
    </header>
        
    <section class="body">
        <a href="#" class="btn go-share">{{ 'list.item.share' | trans({}, 'snippet') }}</a>
        
        <div class="intro">
            <ul>
                <li>
                    <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                        {{ item.publishedAt | date('core.date.normal' | trans) }}
                    </time>                    
                </li>
                {% if item.tags | length %}
                    {% for tag in item.tagsCollection %}
                        <li><a href="#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        
        <div class="content-show">
            {% if item.excerpt %}
                {{ item.excerpt }}
            {% endif %}

            {% if item.githubFile %}
                <pre class="brush: {{ item.getGithubFileType }};">{{ '%prefix%%file%' | replace({
                        '%prefix%': githubRawUrl,
                        '%file%': item.githubFile
                    }) | getContentFromUrl
                }}</pre>
            {% endif %}
        </div>
        
        <footer>
            <aside class="left author">
                {% include 'SlyContentBundle:Block:authorPresentation.html.twig' with {'type': 'snippet'} %}
            </aside>
            
            <aside class="right">
                {% include 'SlyContentBundle:Block/Content:socialNetworks.html.twig' with {'type': 'snippet'} %}
            </aside>
        </footer>
    </section>
    
    {% include 'SlyCoreBundle:Block/Com/Content:300x250m.html.twig' %}
</article>