{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'snippet') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'snippet') }}{% endblock description %}

{% block content %}
    {% if app.request.query.get('page') <= 1 %}
        <h2 role="contentinfo">{{ 'list.title' | trans({}, 'snippet') }}</h2>
    {% endif %}
    
    <nav>{% render 'SlyContentBundle:Component:categories' with {'type': 'snippet'} %}</nav>
    
    {% include 'SlyCoreBundle:Block/Com/Content:728x90.html.twig' %}
    
    <div class="clear"></div>

    {% for item in contentPaginator %}
        {% include 'SlyContentBundle:Snippet:mediumItem.html.twig' with {'item': item } %}
    {% else %}
        <p class="empty">{{ 'list.nocontent' | trans({}, 'snippet') }}</p>
    {% endfor %}
    
    <div class="clear"></div>
    
    {% if contentPaginator | length %}    
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}  