{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'snippet') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'snippet') }}{% endblock description %}

{% set topMain = true %}

{% block topMainTitle %}
    <a href="{{ path('snippet') }}" title="{{ 'core.menu.snippet' | trans }}">
        {{ 'title' | trans({}, 'snippet') }}
    </a>
{% endblock topMainTitle %}

{% block topMainMenu %}
    {% render 'SlyContentBundle:Component:categories' with {'type': 'snippet'} %}
{% endblock topMainMenu %}

{% block content %}
    {% if app.request.query.get('page') <= 1 %}
        <h2 role="contentinfo">{{ 'list.title' | trans({}, 'snippet') }}</h2>
    {% endif %}

    {% for item in contentPaginator %}
        {% include 'SlyContentBundle:Snippet:mediumItem.html.twig' with {'item': item } %}
    {% else %}
        <p class="empty">{{ 'list.nocontent' | trans({}, 'snippet') }}</p>
    {% endfor %}
    
    {% if contentPaginator | length %}
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}