{% spaceless %}
    <aside class="tpl2">
        {% for k, cat in item.categories %}
            <a href="{{ path('snippet_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>
        {% endfor %}
        
        <a href="{{ path('snippet_show', {'slug': item.slug }) }}" title="{{ item }}">
            {{ item }}
        </a>
        
        {% if item.tags | length %}
            <span class="tags">
                {% for tag in item.tagsCollection %}
                    <a href="#" class="tag">{{ tag }}</a>
                {% endfor %}
            </span>
        {% endif %}
    </aside>
{% endspaceless %}