{% spaceless %}
<ul class="activity">
    {% for item in items %}
        <li class="item {{ item.type }}">
            {% if item.type == 'blog' %}
                <span class="sws folder"><span></span></span>
                <a href="{{ path('blog') }}" class="type">{{ 'core.activity.type.blog' | trans }}</a>
                <a href="{{ path('blog_show', {'slug': item.slug}) }}" title="{{ item }}" class="title">{{ item }}</a>
            {% elseif item.type == 'watch' %}
                <span class="sws tag"><span></span></span>
                <a href="{{ path('watch') }}" class="type">{{ 'core.activity.type.watch' | trans }}</a>
                <a href="{{ item.minilink }}" title="{{ item }}" class="title" onclick="var w=window.open(this.href); w.focus(); return false;">{{ item }}</a>
            {% elseif item.type == 'tutorial' %}
                <span class="sws movie"><span></span></span>
                <a href="{{ path('tutorial') }}" class="type">{{ 'core.activity.type.tutorial' | trans }}</a>
                <a href="{{ path('tutorial_show', {'slug': item.slug}) }}" title="{{ item }}" class="title">{{ item }}</a>
            {% elseif item.type == 'snippet' %}
                <span class="sws html"><span></span></span>
                <a href="{{ path('snippet') }}" class="type">{{ 'core.activity.type.snippet' | trans }}</a>
                <a href="{{ path('snippet_show', {'slug': item.slug}) }}" title="{{ item }}" class="title">{{ item }}</a>
            {% elseif item.type == 'twitter' %}
                <span class="sws twitter"><span></span></span>
                <a href="{{ networks.twitter.url }}" class="type">{{ 'core.activity.type.twitter' | trans }}</a>
                <a href="{{ networks.twitter.url }}/status/{{ item.socialNetworkId }}" title="{{ item }}" class="title" onclick="var w=window.open(this.href); w.focus(); return false;">{{ item | raw }}</a>
            {% endif %}
        </li>
    {% else %}
        <li class="empty">
            {{ 'core.activity.nocontent' | trans }}
        </li>
    {% endfor %}
</ul>
{% endspaceless %}