<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ 'homepage.seo.title' | trans({}, 'page') }}{% endblock title %} | {{ project.name }}</title>
        <meta name="description" content="{% block description %}{{ 'homepage.seo.description' | trans({}, 'page') }}{% endblock description %}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% if app.request.attributes.get('_route') == 'blog' %}
            <link rel="alternate" type="application/rss+xml" title="{{ project.name }} RSS Feed" href="{{ networks.rss }}" />
        {% endif %}
        {% stylesheets output='css/x.css' filter='cssrewrite'
            'bundles/slycore/vendor/960gs/code/css/min/reset.css'
            'bundles/slycore/vendor/960gs/code/css/min/960_16_col.css'
            'bundles/slycore/css/*'
            'bundles/slycontent/css/content.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
        {% block stylesheets %}
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" type="text/css" media="screen" />
        {% endblock stylesheets %}
    </head>
    <body>
        {% block header %}{% endblock header %}
        
        {% block body %}{% endblock body %}
        
        {% javascripts output='js/x.js'
            'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
            'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
            'bundles/slycore/js/*'
            'bundles/slycontent/js/content.js' %}
    
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}            
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>