<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock title %}{% if app.request.attributes.get('_route') != 'homepage' %} — {{ project.name }}{% endif %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}" />
        <link rel="shortcut icon" href="{{ asset('bundles/slycore/images/favicon.ico') }}" />
        <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/slycore/images/favicon.png') }}" />
        {% if app.request.attributes.get('_route') == 'blog' %}
            <link rel="alternate" type="application/rss+xml" title="{{ project.name }} RSS Feed" href="{{ networks.rss }}" />
        {% endif %}

        {% block stylesheets %}
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Terminal+Dosis" type="text/css" media="screen" />

            {% stylesheets output='css/*' filter='cssrewrite,yui_css'
                'bundles/slycore/css/jquery.uniform.css'
                'bundles/slycore/css/slywebsymbols.css'
                'bundles/slycore/css/sharebuttons.css'
                'bundles/slycore/css/main.css'
                'bundles/slycore/css/main.mainmenu.css'
                'bundles/slycore/css/main.header.search.css'
                'bundles/slycore/css/main.main.css'
                'bundles/slycore/css/main.sidebar.css'
                'bundles/slycore/css/main.sidebar.tabs.css'
                'bundles/slycore/css/pages.css'
                'bundles/slycore/css/com.css'
                'bundles/slycontent/css/content.css'
                'bundles/slycontent/vendor/syntax-highlighter/styles/shCore.css'
                'bundles/slycontent/css/syntaxhighlighter.css'
                'bundles/slycontent/css/disqus.css' %}

                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
            {% endstylesheets %}
        {% endblock stylesheets %}
    </head>
    <body>
        {% block header %}{% endblock header %}
        
        {% block body %}{% endblock body %}  
        
        {% block javascripts %}
            {% javascripts filter='yui_js'
                'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
                'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
                'bundles/slycore/js/html5-ie.js'
                'bundles/slycore/js/jquery.uniform.min.js'
                'bundles/slycore/js/jquery.scrollto.min.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/XRegExp.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shCore.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shAutoloader.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shBrushPlain.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shBrushCss.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shBrushPhp.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shBrushJScript.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shBrushSql.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shBrushXml.js'
                'bundles/slycontent/vendor/syntax-highlighter/scripts/shBrushBash.js'
                'bundles/slycore/js/main.js' %}

                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
        
        {% if item is defined %}<script type="text/javascript">letsShowItem();</script>{% endif %}
        {% if app.request.attributes.get('_route') == 'author' %}<script type="text/javascript">letsShowAuthor();</script>{% endif %}
        
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ project.google.analytics.id }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>