<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ 'core.homepage.seo.title' | trans }}{% endblock title %} | {{ project.name }}</title>
        <meta name="Description" content="{% block description %}{{ 'core.homepage.seo.description' | trans }}{% endblock description %}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets output='css/x.css' filter='cssrewrite'
            '../app/Resources/public/css/*'
            '@SlyCoreBundle/Resources/public/css/*'
            '@SlyCoreBundle/Resources/public/vendor/twitter-bootstrap/bootstrap-1.1.0.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock stylesheets %}
    </head>
    <body>
        <div class="container" id="header">
            <ul>
                <li><a href="{{ path('homepage') }}">{{ 'core.menu.homepage' | trans }}</a></li>
                <li><a href="{{ path('blog') }}">{{ 'core.menu.blog' | trans }}</a></li>
                <li><a href="{{ path('tutorials') }}">{{ 'core.menu.tutorials' | trans }}</a></li>
                <li><a href="{{ path('watch') }}">{{ 'core.menu.watch' | trans }}</a></li>
                <li><a href="{{ path('snippets') }}">{{ 'core.menu.snippets' | trans }}</a></li>
                <li><a href="{{ path('resources') }}">{{ 'core.menu.resources' | trans }}</a></li>
            </ul>
        </div>
        
        <div class="container" id="main">
            MAIN
        </div>
        
        <div class="container" id="footer">
            FOOTER
        </div>

        {% javascripts output='js/x.js'
            'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
            '../app/Resources/public/js/*'
            '@SlyCoreBundle/Resources/public/js/*' %}

            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}            
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>