<footer class="container_16">
    <div class="top">
        <aside class="grid_4 colborder">
            <h4>Lorem ipsum dolor sit amet</h4>
            
            {% include 'SlyCoreBundle:Block:mainMenu.html.twig' %}
        </aside>
        
        <aside class="grid_4 colborder">
            <h4>Lorem ipsum dolor sit amet</h4>
            
            <ul>
                <li><a href="#" title="">Lorem</a></li>
                <li><a href="#" title="">Ipsum</a></li>
                <li><a href="#" title="">Dolor</a></li>
                <li><a href="#" title="">Sit</a></li>
                <li><a href="#" title="">Amet</a></li>
                <li><a href="#" title="">Lorem</a></li>
                <li><a href="#" title="">Ipsum</a></li>
                <li><a href="#" title="">Dolor</a></li>
            </ul>
        </aside>
        
        <aside class="grid_4 colborder">
            <h4>Lorem ipsum dolor sit amet</h4>
            
            <ul>
                <li><a href="#" title="">Lorem</a></li>
                <li><a href="#" title="">Ipsum</a></li>
                <li><a href="#" title="">Dolor</a></li>
                <li><a href="#" title="">Sit</a></li>
                <li><a href="#" title="">Amet</a></li>
                <li><a href="#" title="">Lorem</a></li>
                <li><a href="#" title="">Ipsum</a></li>
                <li><a href="#" title="">Dolor</a></li>
            </ul>
        </aside>
        
        <aside class="grid_4 right">
            <ul class="social">
                <li class="feed"><a href="#" title=""></a></li>
                <li class="twitter"><a href="#" title=""></a></li>
                <li class="facebook"><a href="#" title=""></a></li>
                <li class="linkedin"><a href="#" title=""></a></li>
                <li class="googleplus"><a href="#" title=""></a></li>
                <li class="flickr"><a href="#" title=""></a></li>
            </ul>
        </aside>
    </div>
    
    <div class="container_16 bottom">
        <aside class="grid_8 left">
            <div class="grid_1 alpha">
                <a href="{{ path('homepage') }}" title="{{ project.name }}">
                    <img src="{{ asset('bundles/slycore/images/slynett-logo-mini.png') }}" alt="{{ project.name }}" />
                </a>
            </div>
            
            <div class="grid_7 omega">
                <a href="#">{{ project.name }}</a><br />
                {{ project.simpleurl }} - {{ project.email }}
            </div>
        </aside>
        
        <aside class="grid_8 right">
            &copy; 2011 {{ project.name }} - {{ 'core.footer.rights' | trans }}<br />
            <a href="#">{{ 'core.menu.credits' | trans }}</a> -
            <a href="#">{{ 'core.menu.terms' | trans }}</a>
        </aside>
    </div>
</footer>