<header id="header" class="wrap">
    <h1 id="logo"><a href="{{ path('homepage') }}" title="{{ project.name }}"></a></h1>

    <section id="search" role="search">
        <form class="form-stacked">
            <div>
                <span class="i search"><a href="#">L</a></span>
                <input type="text" placeholder="Recherche..." />
                <span class="i closefilters"><a href="#">'</a></span>
            </div>

            <div class="filters">
                <ul>
                    <li>
                        <input type="checkbox" name="categories[]" id="search-categories-blog" value="blog" checked="checked" />
                        <label for="search-categories-blog">Blog</label>
                    </li>
                    <li>
                        <input type="checkbox" name="categories[]" id="search-categories-tutorial" value="tutorial" checked="checked" />
                        <label for="search-categories-tutorial">Tutoriels</label>
                    </li>
                    <li>
                        <input type="checkbox" name="categories[]" id="search-categories-snippet" value="snippet" checked="checked" />
                        <label for="search-categories-snippet">Snippets</label>
                    </li>
                    <li>
                        <input type="checkbox" name="categories[]" id="search-categories-watch" value="watch" checked="checked" />
                        <label for="search-categories-watch">Veille</label>
                    </li>
                </ul>

                <p>
                    Sélectionner les sections dans lesquelles vous souhaitez porter votre recherche.
                </p>

                <p class="submit">
                    <input type="submit" name="search" value="Rechercher" />
                </p>
            </div>
        </form>
    </section>
</header>

<nav class="wrap sec">
    {% include 'SlyCoreBundle:Block:secMenu.html.twig' %}
</nav>

<nav role="navigation">
    <div class="wrap">
        {% include 'SlyCoreBundle:Block:mainMenu.html.twig' %}
    </div>

    <ul class="networks">
        <li class="i">h</li>
        <li><a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;">r</a></li>
        <li><a href="{{ networks.twitter.url }}" onclick="var w=window.open(this.href); w.focus(); return false;">t</a></li>
        <li><a href="{{ networks.facebook.url }}" onclick="var w=window.open(this.href); w.focus(); return false;">f</a></li>
        <li><a href="{{ networks.linkedin }}" onclick="var w=window.open(this.href); w.focus(); return false;">l</a></li>
        <li><a href="{{ networks.googleplus }}" onclick="var w=window.open(this.href); w.focus(); return false;">g</a></li>
    </ul>
</nav>