<div class="container" id="header">
    <h1>{{ project.name }}</h1>

    <ul class="menu">
        <li><a href="{{ path('homepage') }}">{{ 'core.menu.homepage' | trans }}</a></li>
        <li><a href="{{ path('blog') }}">{{ 'core.menu.blog' | trans }}</a></li>
        <li><a href="{{ path('tutorial') }}">{{ 'core.menu.tutorials' | trans }}</a></li>
        <li><a href="{{ path('watch') }}">{{ 'core.menu.watch' | trans }}</a></li>
        <li><a href="{{ path('snippet') }}">{{ 'core.menu.snippets' | trans }}</a></li>
        <li><a href="{{ path('resource') }}">{{ 'core.menu.resources' | trans }}</a></li>
    </ul>
</div>