<div id="overlay"></div>

<nav id="top-nav">{% include 'SlyCoreBundle:Block:topMenu.html.twig' %}</nav>

<header id="header" class="wrap">
    <h1 id="logo"><a href="{{ path('homepage') }}" title="{{ project.name }}"></a></h1>

    <section id="search" role="search">
        {% include 'SlyCoreBundle:Block:searchForm.html.twig' %}
    </section>
</header>

<nav class="wrap sec">
    {% include 'SlyCoreBundle:Block:secMenu.html.twig' %}
</nav>

<nav role="navigation">
    <div class="wrap">
        {% include 'SlyCoreBundle:Block:mainMenu.html.twig' %}
    </div>

    <ul class="networks">
        <li class="i">h</li>
        <li><a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;">r</a></li>
        <li><a href="{{ networks.twitter.url }}" onclick="var w=window.open(this.href); w.focus(); return false;">t</a></li>
        <li><a href="{{ networks.facebook.url }}" onclick="var w=window.open(this.href); w.focus(); return false;">f</a></li>
        <li><a href="{{ networks.googleplus }}" onclick="var w=window.open(this.href); w.focus(); return false;">g</a></li>
        <li><a href="{{ networks.linkedin }}" onclick="var w=window.open(this.href); w.focus(); return false;">l</a></li>
    </ul>
</nav>