<section>
    <div class="tabs">
        <ul>
            <li>
                <a href="#tabs-comments" class="sws comment">
                    <span></span>
                    <span class="text">Commentaires</span>
                </a>
            </li>
            <li>
                <a href="#tabs-rss" class="sws rss">
                    <span></span>
                    <span class="text">Flux</span>
                </a>
            </li>
        </ul>

        <div id="tabs-comments" class="tabs-comments">
            {% render 'SlyContentBundle:Component:disqusLastComments' %}
        </div>
        <div id="tabs-rss" class="tabs-feeds">
            <ul class="list">
                <li>
                    <a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;">
                        {{ 'sidebar.feeds.general' | trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;">
                        {{ 'sidebar.feeds.general' | trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;">
                        {{ 'sidebar.feeds.general' | trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>