<ul class="networks">
    <li class="rss">
        <a href="{{ networks.rss }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} FeedBurner/RSS" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            {{ 'core.networks.rss' | trans }}
        </a>
    </li>
    <li class="twitter">
        <a href="{{ networks.twitter.url }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} Twitter" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            Twitter
        </a>
    </li>
    <li class="facebook">
        <a href="{{ networks.facebook.url }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} Facebook" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            Facebook
        </a>
    </li>
    <li class="linkedin">
        <a href="{{ networks.linkedin }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} LinkedIn" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            LinkedIn
        </a>
    </li>
    <li class="googleplus">
        <a href="{{ networks.googleplus }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} Google+" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            Google+
        </a>
    </li>
    <li class="flickr">
        <a href="{{ networks.flickr }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} FlickR" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            FlickR
        </a>
    </li>
</ul>