{% spaceless %}
    <ul class="networks">
        <li>
            <a href="{{ networks.twitter.url }}" class="sws twitter" onclick="var w=window.open(this.href);w.focus();return false;">
                <span></span> <span class="text">Twitter</span>
            </a>
        </li>
        <li>
            <a href="{{ networks.facebook.url }}" class="sws facebook" onclick="var w=window.open(this.href);w.focus();return false;">
                <span></span> <span class="text">Facebook</span>
            </a>
        </li>
        <li>
            <a href="{{ networks.googleplus }}" class="sws googleplus" onclick="var w=window.open(this.href);w.focus();return false;">
                <span></span> <span class="text">Google+</span>
            </a>
        </li>
    </ul>

    <p>
        {{ 'networks.others' | trans({}, 'sidebar') }}
        
        <a href="{{ networks.github }}" onclick="var w=window.open(this.href);w.focus();return false;">GitHub</a>.
    </p>
{% endspaceless %}