{% macro shareButtons(link, title) %}
    <ul class="sharebuttons">   
        <li class="facebook">
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ link }}&amp;layout=button_count&amp;show_faces=false&amp;width=200&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;"></iframe>
        </li>
        <li class="facebookshare">
            <a name="fb_share" type="button_count" share_url="{{ link }}" href="http://www.facebook.com/sharer.php">{{ 'share.buttons.facebook' | trans }}</a>
            <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        </li>
        <li class="twitter">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ link }}" data-text="{{ title }}" data-counturl="{{ link }}" data-count="horizontal" data-lang="{{ app.request.locale }}">{{ 'share.buttons.twitter' | trans }}</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </li>
        <li class="googleplus">
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: '{{ app.request.locale }}'}</script>
            <g:plusone href="{{ link }}"></g:plusone>
        </li>
        <li class="linkedin">
            <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/Share" data-url="{{ link }}" data-counter="left"></script>
        </li>
    </ul>
{% endmacro %}

{% macro shareRButtons(link, title) %}
    <ul class="sharebuttons horizontal">   
        <li class="twitter">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ link }}" data-text="{{ title }}" data-counturl="{{ link }}" data-count="horizontal" data-lang="{{ app.request.locale }}" data-via="{{ networks.twitter.username }}">{{ 'share.buttons.twitter' | trans }}</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </li>
    </ul>
{% endmacro %}

{% macro shareBigButtons(link, title) %}
    <ul class="sharebuttons big">
        <li class="facebook">
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ link }}&amp;layout=box_count&amp;show_faces=false&amp;width=88&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:88px; height:65px;"></iframe>
        </li>
        <li class="facebookshare">
            <a name="fb_share" type="button_count" share_url="{{ link }}" href="http://www.facebook.com/sharer.php">{{ 'share.buttons.facebook' | trans }}</a>
            <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        </li>
        <li class="twitter">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ link }}" data-text="{{ title }}" data-counturl="{{ link }}" data-count="vertical" data-lang="{{ app.request.locale }}">{{ 'share.buttons.twitter' | trans }}</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </li>
        <li class="googleplus">
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: '{{ app.request.locale }}'}</script>
            <g:plusone size="tall" href="{{ link }}"></g:plusone>
        </li>
        <li class="linkedin">
            <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/Share" data-url="{{ link }}" data-counter="top"></script>
        </li>
    </ul>
{% endmacro %}

{% macro shareBigRButtons(link, title) %}
    <ul class="sharebuttons big">
        <li class="facebook">
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ link }}&amp;layout=box_count&amp;show_faces=false&amp;width=60&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;"></iframe>
        </li>
        <li class="twitter">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ link }}" data-text="{{ title }}" data-counturl="{{ link }}" data-count="vertical" data-lang="{{ app.request.locale }}">{{ 'share.buttons.twitter' | trans }}</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </li>
        <li class="googleplus">
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: '{{ app.request.locale }}'}</script>
            <g:plusone size="tall" href="{{ link }}"></g:plusone>
        </li>
    </ul>
{% endmacro %}