{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ category }} | {{ 'seo.title' | trans({}, 'blog') }}{% endblock title %}
{% block description %}{{ 'seo.category.description' | trans({'%catName%': category}, 'blog') }}{% endblock description %}

{% block rightSidebar %}
    {% include 'SlyContentBundle:Blog:rightSidebar.html.twig' %}
{% endblock rightSidebar %}

{% block content %}
    <h2 role="contentinfo">{{ 'category.title' | trans({'%catName%': category}, 'blog') }}</h2>

    {% for k, item in contentPaginator %}
        {% if k == 1 %}{% include 'SlyCoreBundle:Block/Com/Content:468x60.html.twig' %}{% endif %}
        
        {% include 'SlyContentBundle:Blog:mediumItem.html.twig' with {'k': k, 'item': item } %}
    {% else %}
        <p class="empty">{{ 'list.nocontent' | trans({}, 'blog') }}</p>
    {% endfor %}
    
    {% if contentPaginator | length %}
        <div class="pager">
            {{ pagerfanta(contentPaginator, 'default') }}
        </div>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
{% endblock javascripts %}