{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ category }} | {{ 'seo.title' | trans({}, 'blog') }}{% endblock title %}
{% block description %}{{ 'category.seo.description' | trans({'%category%': category}, 'blog') }}{% endblock description %}

{% block rsidebar %}
    {% include 'SlyContentBundle:Blog:rightSidebar.html.twig' %}
{% endblock rsidebar %}

{% block content %}
    <h2>{{ 'category.title' | trans({'%category%': category}, 'blog') }}</h2>

    <div class="blog_list">
        {% for item in contentPaginator %}
            {% include 'SlyContentBundle:Blog:item.html.twig' with {'item': item } %}
        {% else %}
            <p class="empty">{{ 'list.nocontent' | trans({}, 'blog') }}</p>
        {% endfor %}

        {% if contentPaginator | length %}
            <div class="pager">
                {{ pagerfanta(contentPaginator, 'default') }}
            </div>
        {% endif %}
    </div>
{% endblock content %}