<article>    
    <h3 class="title"><a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item.title }}</a></h3>
    
    <div class="hsep_1 t3"></div>
    
    <ul class="infos">
        <li class="published_at">
            <a href="#publishedat">
                <abbr title="{{ item.publishedAt | date('core.date.time.big' | trans) }}" class="dtstart">
                    {{ 'infos.publishedat' | trans({'%date%': item.publishedAt | date('core.date.time.normal' | trans)}) }}
                </abbr>
            </a>
        </li>
        <li class="comments">
            <a href="#disqus_thread" data-disqus-identifier="{{ item.disqusId }}" class="goto">&nbsp;</a>
        </li>
        <li class="share">
            <a href="#sidebar-sharebuttons" class="light_sidebarsharebuttons goto">
                {{ 'infos.share' | trans }}
            </a>
        </li>
    </ul>
    
    <div class="hsep_1 t3"></div>
    
    <p class="description">
        {% if item.excerpt %}
            {{ item.excerpt | striptags }}
        {% else %}
            {{ item.content | striptags | truncate(250) }}
        {% endif %}
    </p>
    
    <div class="media">
        <ul class="category">
            {% for k, cat in item.categories %}
                <li><a href="{{ path('tutorial_category', {'slug': cat.slug}) }}" class="caticon medium {{ cat.slug }}" title="{{ cat }}"></a></li>
            {% endfor %}
        </ul>
        
        <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">
            <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('medium_m') }}" alt="{{ item }}" />
        </a>
    </div>
    
    {% if item.tags | length %}
        <ul class="tags">
            {% for tag in item.tagsCollection %}
                <li><a href="#{{ tag }}" class="container">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="hsep_1 t1"></div>
    
    <div class="item_content">      
        {{ item.content | contentFilters | raw }}
    </div>
</article>