{% spaceless %}
    <article class="tpl2 grid_6 {% if itemKey is defined %}{{ cycle(['omega', 'alpha'], itemKey) }}{% endif %}">
        {%if item.picture %}
            <a href="{{ path('blog_show', {'slug': item.slug }) }}">
                <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('thumbnail') }}" alt="{{ item }}" class="thumbnail" />
            </a>
        {% endif %}
        
        <h4>
            <a href="{{ path('blog_show', {'slug': item.slug }) }}">
                {{ item }}
            </a>
        </h4>
        
        <p class="details">
            {{ 'list.publishedat' | trans({}, 'blog') }}
            <abbr title="{{ item.publishedAt | date('Y-m-dTH:i:m') }}" class="dtstart">{{ item.publishedAt | date('Y, M d @ H:i') }}</abbr>
            
            <br />
            
            {% if item.categories | length %}
                {% for k, cat in item.categories %}
                    <a href="{{ path('blog_category', {'slug': cat.slug}) }}" class="category">{{ cat }}</a>{% if k < (item.categories | length - 1) %},{% endif %}
                {% endfor %}
            {% else %}
                {{ 'list.nocategory' | trans({}, 'blog') }}
            {% endif %}
        </p>
    </article>
{% endspaceless %}