<article class="tpl3">    
    <div class="header">
        {%if item.picture %}
            <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('medium') }}" alt="{{ item }}" class="medium" />
        {% endif %}
        
        <h2>{{ item.title }}</h2>
        
        <p class="informations">       
            {{ 'list.publishedat' | trans({}, 'blog') }}
            <abbr title="{{ item.publishedAt | date('core.date.time.big' | trans) }}" class="dtstart">{{ item.publishedAt | date('core.date.time.big' | trans) }}</abbr>
        </p>
        
        <p class="categories">
            {% if item.categories | length %}
                {% for k, cat in item.categories %}
                    <a href="{{ path('blog_category', {'slug': cat.slug}) }}" class="icat {{ cat.slug }}" title="{{ cat }}"></a>
                {% endfor %}
            {% else %}
                {{ 'list.nocategory' | trans({}, 'blog') }}
            {% endif %}
        </p>
        
        {% if item.tags | length %}
            <p class="tags">
                {% for tag in item.tagsCollection %}
                    <a href="#">{{ tag }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </div>

    <div class="item_content">
        {{ item.content | raw }}
    </div>
</article>