<article class="show">
    <header>
        <section role="contentinfo">
            <h2>
                {% if item.categories | length %}                
                    {% for k, cat in item.categories %}
                        <a href="{{ path('blog_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                    {% endfor %}

                    —
                {% endif %}
                
                <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item }}</a>
            </h2>
        </section>
        
        <ul>
            <li>
                <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                    {{ item.publishedAt | date('core.date.normal' | trans) }}
                </time>
            </li>
            <li>
                <a href="{{ path('author') }}" title="{{ project.author.name }}">
                    <img src="http://0.gravatar.com/avatar/{{ project.author.email | md5 }}?s=32" alt="" />
                </a>
                {{ 'list.item.author' | trans({'%authorName%': project.author.name}, 'blog') }}
                <a href="{{ path('author') }}" title="{{ project.author.name }}">{{ project.author.name }}</a>
            </li>
            <li>
                --- FBSHARE --- TWSHARE --- GOOGLE+SHARE ---
            </li>
        </ul>
    </header>
        
    <section class="body">
        <div class="intro">
            <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">
                <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('show') }}" alt="{{ item }}" class="item-picture" />
            </a>
            
            {% if item.tags | length %}
                <ul>
                    {% for tag in item.tagsCollection %}
                        <li><a href="#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="content-show">
            {{ item.content | contentFilters | raw }}
        </div>
    </section>
</article>