<article class="show">
    <header>
        <section role="contentinfo">
            <h2>
                {% if item.categories | length %}                
                    {% for k, cat in item.categories %}
                        <a href="{{ path('blog_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                    {% endfor %}

                    —
                {% endif %}
                
                <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">{{ item }}</a>
            </h2>
        </section>
    </header>
        
    <section class="body">
        <a href="#" class="btn go-share">{{ 'list.item.share' | trans({}, 'blog') }}</a>
        
        <div class="intro">
            <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">
                <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('show') }}" alt="{{ item }}" class="item-picture" />
            </a>
            
            <ul>
                <li>
                    <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                        {{ item.publishedAt | date('core.date.normal' | trans) }}
                    </time>                    
                </li>
                {% if item.tags | length %}
                    {% for tag in item.tagsCollection %}
                        <li><a href="#{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="content-show">
            {% include 'SlyCoreBundle:Block/Com/Content:250x250.html.twig' %}
            
            {{ item.content | contentFilters | raw }}
        </div>
        
        <footer>
            <aside class="left author">
                {% include 'SlyContentBundle:Block:authorPresentation.html.twig' with {'type': 'blog'} %}
            </aside>
            
            <aside class="right">
                {% include 'SlyContentBundle:Block/Content:socialNetworks.html.twig' with {'type': 'blog'} %}
            </aside>
        </footer>
    </section>
</article>