{% spaceless %}
    <article class="blog">
        <header>
            <h3>
                <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">
                    {{ item.title }}
                </a>
            </h3>
        </header>
        
        <section>
            {%if item.picture %}
                <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}">
                    <img src="{{ '/uploads/contents/%itemId%/%itemPicture%' | replace({'%itemId%': item.id, '%itemPicture%': item.picture}) | apply_filter('thumbnail') }}" alt="{{ item }}" />
                </a>
            {% endif %}
            
            {% if item.categories | length %}                
                {% for k, cat in item.categories %}
                    <a href="{{ path('blog_category', {'slug': cat.slug}) }}" class="category {{ cat.slug }}">{{ cat }}</a>{% if k+1 < item.categories | length %} / {% endif %}
                {% endfor %}
                
                —
            {% endif %}
            
            {% if item.excerpt %}
                {{ item.excerpt | striptags }}
            {% else %}
                {{ item.content | striptags | truncate(250) }}
            {% endif %}
            
            <br /><br />
            
            <a href="{{ path('blog_show', {'slug': item.slug }) }}" title="{{ item }}" class="btn show">
                {{ 'list.item.read' | trans({}, 'blog') }} &raquo;
            </a>
        </section>
        
        <footer>
            <time datetime="{{ item.publishedAt | date('core.date.time.big' | trans) }}">
                {{ item.publishedAt | date('core.date.normal' | trans) }}
            </time>
            
            <p>
                <a href="{{ path('author') }}" title="{{ project.author.name }}">
                    <img src="http://0.gravatar.com/avatar/{{ project.author.email | md5 }}?s=32" alt="" />
                </a>
                {{ 'list.item.author' | trans({'%authorName%': project.author.name}, 'blog') }}
                <a href="{{ path('author') }}" title="{{ project.author.name }}">{{ project.author.name }}</a>
            </p>

            {% if item.tags | length %}
                <ul class="tags">
                    {% for tag in item.tagsCollection %}
                        <li><a href="#{{ tag }}" class="container">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </footer>
    </article>
{% endspaceless %}