{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ item }} | {{ 'seo.title' | trans({}, 'blog') }}{% endblock title %}
{% block description %}
    {% spaceless %}
        {% if item.excerpt %}
            {{ item.excerpt | striptags }}
        {% else %}
            {{ item.content | striptags | truncate(150) }}
        {% endif %}
    {% endspaceless %}
{% endblock description %}

{% set topMain = true %}

{% block topMainTitle %}
    <a href="{{ path('blog') }}" title="{{ 'core.menu.blog' | trans }}">
        {{ 'title' | trans({}, 'blog') }}
    </a>
{% endblock topMainTitle %}

{% block topMainMenu %}
    {% render 'SlyContentBundle:Component:categories' with {'type': 'blog', 'noActive': true} %}
{% endblock topMainMenu %}

{% block stylesheets %}
    {{ parent() }}

    {% include 'SlyContentBundle::inc.syntaxhighlighter.css.html.twig' %}
{% endblock stylesheets %}

{% block rightSidebar %}
    <div class="p_sidebar">
        {% include 'SlyContentBundle:Blog:rightSidebarItem.html.twig' with {'item': item} %}
    </div>
{% endblock rightSidebar %}

{% block content %}
    {% include 'SlyContentBundle:Blog:item.html.twig' with {'item': item } %}
    
    <div id="disqus_comments" class="disqus"></div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% include 'SlyContentBundle::inc.syntaxhighlighter.js.html.twig' %}
    {% render 'SlyContentBundle:Component:disqusJS' with {'item': item, 'type': 'blog'} %}
{% endblock javascripts %}