{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ item }} | {{ 'seo.title' | trans({}, 'blog') }}{% endblock title %}
{% block description %}
    {% spaceless %}
        {% if item.excerpt %}
            {{ item.excerpt | striptags }}
        {% else %}
            {{ item.content | striptags | truncate(150) }}
        {% endif %}
    {% endspaceless %}
{% endblock description %}

{% block rsidebar %}
    {% include 'SlyContentBundle:Blog:rightSidebar.html.twig' %}
{% endblock rsidebar %}

{% block content %}
    <h2>{{ item }}</h2>
    
    <p>
        {% if item.categories | length %}
            {{ 'list.categories' | transchoice(item.categories | length, {}, 'blog') }}
        {% else %}
            {{ 'list.nocategory' | trans({}, 'blog') }}
        {% endif %}

        {% for k, cat in item.categories %}
            <a href="{{ path('blog_category', {'slug': cat.slug}) }}" class="category">{{ cat }}</a>{% if k < (item.categories | length - 1) %},{% endif %}
        {% endfor %}

        -

        {{ 'list.publishedat' | trans({}, 'blog') }}
        <abbr title="{{ item.publishedAt | date('Y-m-dTH:i:m') }}" class="dtstart">{{ item.publishedAt | date('Y, M d @ H:i') }}</abbr>
    </p>

    {% if item.tags | length %}
        <p>
            {% for tag in item.tagsCollection %}
                <a href="#" class="tag">
                    {{ tag }}
                </a>
            {% endfor %}
        </p>
    {% endif %}
    
    <div class="content_content">
        {{ item.content | raw }}
    </div>
    
    <div id="disqus_thread"></div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusJS' with {'item': item, 'type': 'blog'} %}
{% endblock javascripts %}