{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ item }} | {{ 'seo.title' | trans({}, 'blog') }}{% endblock title %}
{% block description %}
    {% spaceless %}
        {% if item.excerpt %}
            {{ item.excerpt | striptags }}
        {% else %}
            {{ item.content | striptags | truncate(150) }}
        {% endif %}
    {% endspaceless %}
{% endblock description %}

{% block rightSidebar %}
    {% include 'SlyContentBundle:Blog:rightSidebar.html.twig' %}
{% endblock rightSidebar %}

{% block content %}
    {% include 'SlyContentBundle:Blog:item.html.twig' with {'item': item } %}
    
    <aside class="comments">
        <h2><a href="#disqus_thread" data-disqus-identifier="{{ item.disqusId }}">&nbsp;</a></h2>
        
        <div id="disqus_thread"></div>
    </aside>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
    {% render 'SlyContentBundle:Component:disqusJS' with {'item': item, 'type': 'tutorial'} %}
{% endblock javascripts %}