{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ item }} | {{ 'seo.title' | trans({}, 'blog') }}{% endblock title %}
{% block description %}
    {% spaceless %}
        {% if item.excerpt %}
            {{ item.excerpt | striptags }}
        {% else %}
            {{ item.content | striptags | truncate(150) }}
        {% endif %}
    {% endspaceless %}
{% endblock description %}

{% block stylesheets %}
    {{ parent() }}

    {% include 'SlyContentBundle::inc.syntaxhighlighter.css.html.twig' %}
{% endblock stylesheets %}

{% block rightSidebar %}
    {% include 'SlyContentBundle:Blog:rightSidebar.html.twig' %}
{% endblock rightSidebar %}

{% block content %}
    {% include 'SlyContentBundle:Blog:item.html.twig' with {'item': item } %}
    
    <h2>{{ 'comments.title' | trans }}</h2>
    
    <div id="disqus_thread"></div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    
    {% include 'SlyContentBundle::inc.syntaxhighlighter.js.html.twig' %}
    {% render 'SlyContentBundle:Component:disqusCountJS' %}
    {% render 'SlyContentBundle:Component:disqusJS' with {'item': item, 'type': 'tutorial'} %}
{% endblock javascripts %}