{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'author') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'author') }}{% endblock description %}

{% block rightSidebar %}
    {% include 'SlyCoreBundle:Author:rightSidebar.html.twig' %}
{% endblock rightSidebar %}

{% block content %}    
    <div class="author" id="author">
        <h2 role="contentinfo">{{ 'title' | trans({}, 'author') }}</h2>

        <nav id="author-main">{% include 'SlyCoreBundle:Author:Block/mainMenu.html.twig' %}</nav>

        <section class="page">
            <div class="content">
                <img src="{{ '/uploads/author/cedric-dugat.jpg' | apply_filter('thumbnail') }}" alt="{{ 'presentation.title' | trans({}, 'author') }}" class="medium author" />

                <p>{{ 'presentation' | trans({}, 'author') | raw }}</p>
            </div>
            
            <h3 id="author-skills">
                {{ 'skills.title' | trans({}, 'author') }}
                <a href="#author-main" class="sgoto">{{ 'totop' | trans({}, 'author') }}</a>
            </h3>
            
            <div class="content author-skills">
                {% include 'SlyCoreBundle:Author:Block/skills.html.twig' %}
            </div>
            
            <h3 id="author-portfolio">
                {{ 'portfolio.title' | trans({}, 'author') }}
                <a href="#author-main" class="sgoto">{{ 'totop' | trans({}, 'author') }}</a>
            </h3>
            
            <div class="author-portfolio">
                <p>{{ 'portfolio.message' | trans({}, 'author') }}</p>
                
                {% include 'SlyCoreBundle:Author:Block/portfolio.html.twig' %}
            </div>
            
            <h3 id="author-contact">
                {{ 'contact.title' | trans({}, 'author') }}
                <a href="#author-main" class="sgoto">{{ 'totop' | trans({}, 'author') }}</a>
            </h3>
            
            <div class="content author-contact">
                ---
            </div>
        </section>
    </div>
{% endblock content %}