{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'author') }}{% endblock title %}
{% block description %}{{ 'presentation.seo.description' | trans({}, 'author') }}{% endblock description %}

{% set topMain = true %}

{% block topMainTitle %}
    <a href="{{ path('author') }}" title="{{ 'title' | trans({}, 'author') }}">
        {{ 'title' | trans({}, 'author') }}
    </a>
{% endblock topMainTitle %}

{% block topMainMenu %}
    {% include 'SlyCoreBundle:Author:mainMenu.html.twig' %}
{% endblock topMainMenu %}

{% block rightSidebar %}
    {% include 'SlyCoreBundle:Author:rightSidebar.html.twig' %}
{% endblock rightSidebar %}

{% block content %}
    <article class="tpl3">        
        <div class="header">
            <img src="{{ '/uploads/example.jpg' | apply_filter('medium') }}" alt="{{ 'presentation.title' | trans({}, 'author') }}" class="medium" />
            
            <h3>{{ 'presentation.presentation.title' | trans({}, 'author') }}</h3>
            
            <p class="informations">{{ 'presentation.presentation.description1' | trans({}, 'author') }}</p>
            <p class="informations">{{ 'presentation.presentation.description2' | trans({}, 'author') }}</p>
            
            <h3>{{ 'presentation.founder' | trans({}, 'author') }}</h3>
            
            <ul class="list">
                <li>
                    <a href="{{ project.url }}" onclick="var w=window.open(this.href); w.focus(); return false;" title="{{ project.name }}">
                        {{ project.name }}
                    </a>
                </li>
                <li>
                    <a href="http://socontest.com" onclick="var w=window.open(this.href); w.focus(); return false;" title="SoContest">
                        SoContest
                    </a>
                </li>
                <li>
                    <a href="http://goog.la" onclick="var w=window.open(this.href); w.focus(); return false;" title="Goog.la">
                        Goog.la
                    </a>
                </li>
            </ul>
        </div>
    
        <div class="item_content">
            qsffsqqsffqsqfsqfs
        </div>
    </article>
{% endblock content %}