<ul>
    <li class="{{ app.request.attributes.get('_route') | checkActive(['author']) }}">
        <a href="{{ path('author') }}" title="{{ 'menu.presentation' | trans({}, 'author') }}">
            {{ 'menu.presentation' | trans({}, 'author') }}
        </a>
    </li>
    <li class="{{ app.request.attributes.get('_route') | checkActive(['author_skills']) }}">
        <a href="{{ path('author_skills') }}" title="{{ 'menu.skills' | trans({}, 'author') }}">
            {{ 'menu.skills' | trans({}, 'author') }}
        </a>
    </li>
    <li class="{{ app.request.attributes.get('_route') | checkActive(['contact']) }}">
        <a href="{{ path('contact') }}" title="{{ 'menu.contact' | trans({}, 'author') }}">
            {{ 'menu.contact' | trans({}, 'author') }}
        </a>
    </li>
</ul>