<section>
    <h3>{{ 'sidebar.cv.title' | trans({}, 'author') }}</h3>
    
    <div class="content">
        <p>
            <a href="#" class="sws btn attachment">
                <span></span>
                {{ 'sidebar.cv.download' | trans({}, 'author') }}
            </a>
        </p>
    </div>
</section>

<section>
    <h3>{{ 'sidebar.contact.title' | trans({}, 'author') }}</h3>

    <div class="content">
        <p>
            {{
                'sidebar.contact.email'
                    | trans({}, 'author')
                    | replace({
                        '%email%': project.email | textEncode,
                        '%shortEmail%': project.shortemail | textEncode,
                        '%contactForm%': path('contact')
                    })
                    | raw
            }}
        </p>
        
        <p>{{ 'sidebar.contact.networks' | trans({}, 'author') }}</p>
        
        {% include 'SlyCoreBundle:Block:socialProNetworks.html.twig' %}
    </div>
</section>