<section>
    <h3>{{ 'sidebar.cv.title' | trans({}, 'author') }}</h3>
    
    <div class="content">
        <p>{{ 'sidebar.cv.message' | trans({}, 'author') }}</p>
        
        <p>
            <a href="#" class="sws btn attachment">
                <span></span>
                {{ 'sidebar.cv.download' | trans({}, 'author') }}
            </a>
        </p>
    </div>
</section>

<section>
    <h3>{{ 'sidebar.networks.title' | trans({}, 'author') }}</h3>

    <div class="content">
        <p>{{ 'sidebar.networks.message' | trans({}, 'author') }}</p>
        
        {% include 'SlyCoreBundle:Block:socialProNetworks.html.twig' %}
    </div>
</section>