{% extends "SlyCoreBundle:Layout:layout.rightSidebar.html.twig" %}

{% block title %}{{ 'contact.seo.title' | trans({}, 'page') }}{% endblock title %}
{% block description %}{{ 'contact.seo.description' | trans({}, 'page') }}{% endblock description %}

{% block rightSidebar %}
    <blockquote>{{ 'contact.sidebar.follow' | trans({'%name%': project.name}, 'page') }}</blockquote>

    {% include 'SlyCoreBundle:Block:socialNetworks.html.twig' %}
{% endblock rightSidebar %}

{% block content %}
    <h3>{{ 'contact.title' | trans({}, 'page') }}</h3>
    
    <p>
        {{ 'contact.email.msg1' | trans({}, 'page') }}
        <a href="mailto:{{ project.email | textEncode | raw }}">{{ project.email | textEncode | raw }}</a> /
        <a href="mailto:{{ project.shortemail | textEncode | raw }}">{{ project.shortemail | textEncode | raw }}</a>
        {{ 'contact.email.msg2' | trans({}, 'page') }}
    </p>
    
    <form action="{{ path('contact') }}" method="post" {{ form_enctype(contactForm) }}>
        {{ form_errors(contactForm) }}
        
        <div class="form">
            {{ form_row(contactForm.name, {'label': 'contact.form.name' | trans({}, 'page')}) }}
            {{ form_row(contactForm.email, {'label': 'contact.form.email' | trans({}, 'page')}) }}
            {{ form_row(contactForm.twitter, {'label': 'contact.form.twitter' | trans({}, 'page')}) }}
            {{ form_row(contactForm.subject, {'label': 'contact.form.subject' | trans({}, 'page')}) }}
            {{ form_row(contactForm.message, {'label': 'contact.form.message' | trans({}, 'page')}) }}
            
            <div class="mlkqsd">
                {{ form_row(contactForm.mlkqsd, {'label': 'MLKQSD'}) }}
            </div>

            <div class="submit">
              <input type="submit" value="{{ 'contact.form.submit' | trans({}, 'page') }}" />  
            </div>
        </div>
        
        {{ form_rest(contactForm) }}
    </form>
{% endblock content %}