{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'homepage.seo.title' | trans({'%name%': project.name}, 'page') }}{% endblock title %}
{% block description %}{{ 'homepage.seo.description' | trans({'%name%': project.name}, 'page') }}{% endblock description %}

{% block content %}
    <h2 role="contentinfo">{{ 'homepage.title' | trans({}, 'page') }}</h2>
    
    <div class="homepage">        
        <section class="page">
            <h3>{{ 'homepage.lastposts.title' | trans({}, 'page') }}</h3>
            
            <div class="content">
                {% render 'SlyContentBundle:Component:lastItems' with {
                    'type': 'blog',
                    'withPicture': true,
                    'count': 3
                } %}
            </div>
            
            <h3>{{ 'homepage.lasttutorials.title' | trans({}, 'page') }}</h3>
            
            <div class="content">
                {% render 'SlyContentBundle:Component:lastItems' with {
                    'type': 'tutorial',
                    'withPicture': true,
                    'count': 2
                } %}
            </div>
            
            {% include 'SlyCoreBundle:Block/Com/Content:468x60.html.twig' %}
            
            <h3>{{ 'homepage.tech.title' | trans({}, 'page') }}</h3>
            
            <div class="content">
                <p>{{ 'homepage.tech.message1' | trans({}, 'page') | raw }}</p>
                <p>
                    {{ 'homepage.tech.message2' | trans({
                        '%authorUrl%': path('author')
                    }, 'page') | raw }}
                </p>
                <p>
                    <a href="{{ project.github.sources.url }}" onclick="var w=window.open(this.href);w.focus();return false;" class="btn sws html">
                        <span></span>
                        {{ 'homepage.tech.sources' | trans({}, 'page') }}
                    </a>
                </p>
            </div>
        </section>
        
        <section class="networks">            
            <ul class="networks">
                <li class="sws rss"><a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws twitter"><a href="{{ networks.twitter.url }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws facebook"><a href="{{ networks.facebook.url }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws googleplus"><a href="{{ networks.googleplus }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws linkedin"><a href="{{ networks.linkedin }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
            </ul>
        </section>
        
        <section class="activity">            
            {% render 'SlyCoreBundle:Component:lastActivity' %}
        </section>
    </div>
{% endblock content %}