{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'homepage.seo.title' | trans({'%name%': project.name}, 'page') }}{% endblock title %}
{% block description %}{{ 'homepage.seo.description' | trans({'%name%': project.name}, 'page') }}{% endblock description %}

{% block content %}
    <h2 role="contentinfo">{{ 'homepage.title' | trans({}, 'page') }}</h2>
    
    <div class="homepage">        
        <section class="page">
            <h3>06-12-2011 / {{ 'homepage.edito.title' | trans({}, 'page') }}</h3>
            
            <div class="content">
                <p>
                    J'ai le plaisir de vous présenter le nouveau Slynett, rebaptisé pour l'occasion <strong>Slynett Labs</strong>.
                    Véritable expérimentation, ce projet à été l'occasion pour moi de développer sous Symfony2 et d'étendre le précédent blog
                    (dont j'ai gardé les quelques articles) a un portail plus complet.
                </p>
                
                <hr class="sep2" />
                
                <p>
                    Actuellement dépourvu de contenu, Slynett Labs se verra aggrémenter régulièrement
                    d'<strong><a href="{{ path('blog') }}">articles</a></strong> (2 à 3 par semaine),
                    de <strong><a href="{{ path('tutorial') }}">tutoriels</a></strong> (1 par semaine),
                    de <strong><a href="{{ path('watch') }}">veille</a></strong> au quotidien et
                    de <strong><a href="{{ path('snippet') }}">snippets</a></strong> en tous genres.
                    Une occasion pour moi de reccueillir mon expertise, mes découvertes et mes analyses en les partageants avec d'autres
                    développeurs passionnés.
                </p>
            </div>
            
            <h3>{{ 'homepage.lastposts.title' | trans({}, 'page') }}</h3>
            
            <div class="content">
                {% render 'SlyContentBundle:Component:lastItems' with {
                    'type': 'blog',
                    'withPicture': true,
                    'count': 3
                } %}
            </div>
            
            <h3>{{ 'homepage.lasttutorials.title' | trans({}, 'page') }}</h3>
            
            <div class="content">
                {% render 'SlyContentBundle:Component:lastItems' with {
                    'type': 'tutorial',
                    'withPicture': true,
                    'count': 2
                } %}
            </div>
            
            {% include 'SlyCoreBundle:Block/Com/Content:468x60.html.twig' %}
            
            <h3>{{ 'homepage.tech.title' | trans({}, 'page') }}</h3>
            
            <div class="content">
                <p>{{ 'homepage.tech.message1' | trans({}, 'page') | raw }}</p>
                <p>
                    {{ 'homepage.tech.message2' | trans({
                        '%authorUrl%': path('author')
                    }, 'page') | raw }}
                </p>
                <p>
                    <a href="{{ project.github.sources.url }}" onclick="var w=window.open(this.href);w.focus();return false;" class="btn sws html">
                        <span></span>
                        {{ 'homepage.tech.sources' | trans({}, 'page') }}
                    </a>
                </p>
            </div>
        </section>
        
        <section class="networks">
            <ul class="networks">
                <li class="sws rss"><a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws twitter"><a href="{{ networks.twitter.url }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws facebook"><a href="{{ networks.facebook.url }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws googleplus"><a href="{{ networks.googleplus }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
                <li class="sws linkedin"><a href="{{ networks.linkedin }}" onclick="var w=window.open(this.href); w.focus(); return false;"><span></span></a></li>
            </ul>
        </section>
        
        <section class="twitter">
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 10,
              interval: 30000,
              width: 'auto',
              height: 300,
              theme: {
                shell: {
                  background: '#ffffff',
                  color: '#333333'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#333333',
                  links: '#2ea2c8'
                }
              },
              features: {
                scrollbar: true,
                loop: false,
                live: true,
                behavior: 'all'
              }
            }).render().setUser('{{ networks.twitter.username }}').start();
            </script>
        </section>
        
        <section class="activity">            
            {% render 'SlyCoreBundle:Component:lastActivity' %}
        </section>
    </div>
{% endblock content %}